spring:
  application:
    name: product-service

  # MongoDB
  data:
    mongodb:
      uri: mongodb://root:mongo123@localhost:27017/products?authSource=admin
      database: products

    # Redis
    redis:
      host: localhost
      port: 6379
      password: redis123

  # Cache
  cache:
    type: redis
    redis:
      time-to-live: 600000  # 10 minutes

server:
  port: 8082

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

# OpenAPI
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

# Logging
logging:
  level:
    io.cloudforge: DEBUG
    org.springframework.data.mongodb: DEBUG

# Eureka Client
eureka:
  client:
    service-url:
      defaultZone: http://eureka:eureka123@localhost:8761/eureka/
    registry-fetch-interval-seconds: 5
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}
